# Lab | Revisiting Machine Learning Case Study

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

## Import libraries

In [53]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

## Import data set

In [54]:
#import data set
data = pd.read_csv('learningSet.csv')

## Check for null values in all the columns

In [55]:
nulls = data.isna().sum().sort_values(ascending=False)/len(data)*100
nulls = pd.DataFrame(nulls).reset_index()
nulls.columns = ['column_name', 'percent_nullvalues']

In [56]:
nulls[:10]

  column_name  percent_nullvalues
0     RDATE_5           99.990567
1     RAMNT_5           99.990567
2     RDATE_3           99.746363
3     RAMNT_3           99.746363
4     RDATE_4           99.705488
5     RAMNT_4           99.705488
6     RAMNT_6           99.186685
7     RDATE_6           99.186685
8    RAMNT_15           92.388798
9    RDATE_15           92.388798

## Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

In [57]:
drop_list = ['OSOURCE','ZIP']

## Identify columns that over 85% missing values

In [58]:
columns_above_85 = nulls[nulls['percent_nullvalues'] > 85]

In [59]:
# overwrites drop_list
#drop_list2 = columns_above_85['column_name'].tolist()

In [60]:
#using for loop
for i in columns_above_85['column_name']:
    drop_list.append(i)

In [61]:
drop_list

['OSOURCE',
 'ZIP',
 'RDATE_5',
 'RAMNT_5',
 'RDATE_3',
 'RAMNT_3',
 'RDATE_4',
 'RAMNT_4',
 'RAMNT_6',
 'RDATE_6',
 'RAMNT_15',
 'RDATE_15',
 'RDATE_23',
 'RAMNT_23',
 'RDATE_20',
 'RAMNT_20',
 'RAMNT_7',
 'RDATE_7',
 'RAMNT_17',
 'RDATE_17',
 'RDATE_21',
 'RAMNT_21',
 'RAMNT_10',
 'RDATE_10',
 'RDATE_13',
 'RAMNT_13',
 'NUMCHLD']

## Remove those columns from the dataframe

In [62]:
data = data.drop(drop_list, axis=1)

In [63]:
data.columns

Index(['ODATEDW', 'TCODE', 'STATE', 'MAILCODE', 'PVASTATE', 'DOB', 'NOEXCH',
       'RECINHSE', 'RECP3', 'RECPGVG',
       ...
       'TARGET_D', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A', 'MDMAUD_R',
       'MDMAUD_F', 'MDMAUD_A', 'CLUSTER2', 'GEOCODE2'],
      dtype='object', length=454)

## Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

```python
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [64]:
print(data['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [65]:
data['GENDER'] = data['GENDER'].fillna('F')

In [66]:
#1. option: Lambda
data['GENDER'] = data['GENDER'].apply(lambda x: x if x in ['M', 'F'] else 'other')
data['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [67]:
#2. option for loop: takes way longer
for i in range(0, len(data)):
    if data['GENDER'][i] not in ['F', 'M']:
        data['GENDER'][i] = 'other'