<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Lab-|-Revisiting-Machine-Learning-Case-Study" data-toc-modified-id="Lab-|-Revisiting-Machine-Learning-Case-Study-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Lab | Revisiting Machine Learning Case Study</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Check-for-null-values-in-all-the-columns" data-toc-modified-id="1.-Check-for-null-values-in-all-the-columns-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>1. Check for null values in all the columns</a></span></li><li><span><a href="#2.-Exclude-the-following-variables-by-looking-at-the-definitions.-Create-a-new-empty-list-called-drop_list.-We-will-append-this-list-and-then-drop-all-the-columns-in-this-list-later:" data-toc-modified-id="2.-Exclude-the-following-variables-by-looking-at-the-definitions.-Create-a-new-empty-list-called-drop_list.-We-will-append-this-list-and-then-drop-all-the-columns-in-this-list-later:-1.0.2"><span class="toc-item-num">1.0.2&nbsp;&nbsp;</span>2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:</a></span></li><li><span><a href="#3.-Identify-columns-that-over-85%-missing-values" data-toc-modified-id="3.-Identify-columns-that-over-85%-missing-values-1.0.3"><span class="toc-item-num">1.0.3&nbsp;&nbsp;</span>3. Identify columns that over 85% missing values</a></span></li><li><span><a href="#4.-Remove-those-columns-from-the-dataframe" data-toc-modified-id="4.-Remove-those-columns-from-the-dataframe-1.0.4"><span class="toc-item-num">1.0.4&nbsp;&nbsp;</span>4. Remove those columns from the dataframe</a></span></li><li><span><a href="#5.-Reduce-the-number-of-categories-in-the-column-GENDER.-The-column-should-only-have-either-&quot;M&quot;-for-males,-&quot;F&quot;-for-females,-and-&quot;other&quot;-for-all-the-rest" data-toc-modified-id="5.-Reduce-the-number-of-categories-in-the-column-GENDER.-The-column-should-only-have-either-&quot;M&quot;-for-males,-&quot;F&quot;-for-females,-and-&quot;other&quot;-for-all-the-rest-1.0.5"><span class="toc-item-num">1.0.5&nbsp;&nbsp;</span>5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest</a></span></li></ul></li></ul></li></ul></div>

# Lab | Revisiting Machine Learning Case Study

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

### 1. Check for null values in all the columns

In [4]:
import pandas as pd
import numpy as np
import warnings

In [5]:
data = pd.read_csv('learningSet.csv')

In [6]:
data.shape

(95412, 481)

In [8]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

         percentage
RDATE_5   99.990567
RAMNT_5   99.990567
RDATE_3   99.746363
RAMNT_3   99.746363
RDATE_4   99.705488
...             ...
ETHC3      0.000000
ETHC2      0.000000
ETHC1      0.000000
HHD12      0.000000
TPE11      0.000000

[481 rows x 1 columns]

### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

In [34]:
drop_list = ['OSOURCE', 'ZIP CODE']

### 3. Identify columns that over 85% missing values

In [23]:
drop_nulls = list(nulls[nulls['percentage'] > 85].index)
drop_nulls

['NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

### 4. Remove those columns from the dataframe

In [24]:
data = data.drop(drop_nulls, axis=1)

In [25]:
data.shape

(95412, 456)

### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

```python
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [28]:
data['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
A        2
C        2
Name: GENDER, dtype: int64

In [29]:
data['GENDER'] = data['GENDER'].fillna('F')

In [32]:
data['GENDER'] = data['GENDER'].replace(['U', 'J', 'A', 'C', ' '], "other")

In [33]:
data['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64