# Lab | Revisiting Machine Learning Case Study

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

warnings.filterwarnings('ignore')

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

In [2]:
data = pd.read_csv('learningSet.csv')

In [17]:
data.shape

(95412, 481)

### 1. Check for null values in all the columns

In [3]:
nulls = data.isna().sum().sort_values(ascending=False)/len(data)*100
nulls = pd.DataFrame(nulls).reset_index()
nulls.columns = ['column_name', 'nulls_percent']

In [4]:
nulls[:10]

  column_name  nulls_percent
0     RDATE_5      99.990567
1     RAMNT_5      99.990567
2     RDATE_3      99.746363
3     RAMNT_3      99.746363
4     RDATE_4      99.705488
5     RAMNT_4      99.705488
6     RAMNT_6      99.186685
7     RDATE_6      99.186685
8    RAMNT_15      92.388798
9    RDATE_15      92.388798

### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

In [10]:
drop_list = ['OSOURCE','ZIP']

### 3. Identify columns that over 85% missing values

In [11]:
columns_above_threshold = nulls[nulls['nulls_percent'] > 15]

In [13]:
drop_columns = columns_above_threshold['column_name'].tolist()

In [16]:
drop_list_total = drop_list + drop_columns

### 4. Remove those columns from the dataframe

In [18]:
data = data.drop(drop_list_total, axis=1)

In [19]:
data.shape

(95412, 402)

### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

```python
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [21]:
print(data['GENDER'].value_counts())

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [22]:
data['GENDER'] = data['GENDER'].fillna('F')

In [26]:
for i in range(0, len(data)):
    if data['GENDER'][i] not in ['F', 'M']:
        data['GENDER'][i] = 'other'

In [27]:
print(data['GENDER'].value_counts())

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64