In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [18]:
df = pd.read_csv("/Users/spicasumampouw/IronSpica/activities/Unit_6/learningSet.csv")

# Lab | Revisiting Machine Learning Case Study

In this lab, you will use learningSet.csv file which you already have cloned in today's activities.

### 1. Check for null values in all the columns

In [19]:
unk_lst = []
for col in df.columns:
    column_name = col
    unk_values = int(df[col].isnull().sum())
    unk_dtypes = df[col].dtypes
    unk_lst.append([column_name,unk_values,unk_dtypes])
    
unk_df = pd.DataFrame(unk_lst,columns=["Column Name","Unknown Values", "Data Types"])
unk_df.sort_values("Unknown Values", ascending=False).iloc[:95]

    Column Name  Unknown Values Data Types
414     RDATE_5           95403    float64
436     RAMNT_5           95403    float64
412     RDATE_3           95170    float64
434     RAMNT_3           95170    float64
413     RDATE_4           95131    float64
..          ...             ...        ...
480    GEOCODE2             132     object
479    CLUSTER2             132    float64
409     NUMPROM               0      int64
408    MAXADATE               0      int64
307        AFC6               0      int64

[95 rows x 3 columns]

In [20]:
df.columns = [column.lower().replace(' ', '_') for column in df.columns]

### 2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

- `OSOURCE` - symbol definitions not provided, too many categories
- `ZIP CODE` - we are including state already

In [21]:
#drop_list = df.drop(columns='OSOURCE', 'ZIP')
drop_list = ['osource', 'zip']

### 3. Identify columns that over 85% missing values

In [22]:
percent_df = df.isna().sum().sort_values(ascending = False)*100/len(df)
percent_df = percent_df.reset_index()

In [23]:
percent_df.columns = ['column_name', 'percent']
above85 = percent_df[percent_df['percent'] >= 85]
above85
#above85['name'].unique()

   column_name    percent
0      rdate_5  99.990567
1      ramnt_5  99.990567
2      rdate_3  99.746363
3      ramnt_3  99.746363
4      rdate_4  99.705488
5      ramnt_4  99.705488
6      ramnt_6  99.186685
7      rdate_6  99.186685
8     ramnt_15  92.388798
9     rdate_15  92.388798
10    rdate_23  91.763091
11    ramnt_23  91.763091
12    rdate_20  91.732696
13    ramnt_20  91.732696
14     ramnt_7  90.677273
15     rdate_7  90.677273
16    ramnt_17  90.146942
17    rdate_17  90.146942
18    rdate_21  90.029556
19    ramnt_21  90.029556
20    ramnt_10  89.035970
21    rdate_10  89.035970
22    rdate_13  87.160944
23    ramnt_13  87.160944
24     numchld  87.018404

### 4. Remove those columns from the dataframe

In [24]:
for i in above85['column_name']:
    drop_list.append(i)

In [25]:
for i in drop_list: 
    df = df.drop(i, axis = 1)

### 5. Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

```python
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [26]:
#data['gender'].value_counts()
df['gender'].unique()

array(['F', 'M', ' ', 'C', 'U', 'J', 'A'], dtype=object)

In [27]:
df['gender'] = df['gender'].fillna('F')

In [28]:
df['gender'] = df['gender'].fillna('F')
df['gender'] = df['gender'].apply(lambda x: x if x in ['M', 'F'] else 'other')
df['gender'].value_counts()

F        51277
M        39094
other     5041
Name: gender, dtype: int64